<!-- <f3d-input></f3d-input>
<f3d-options-dropdown></f3d-options-dropdown>
<f3d-chips></f3d-chips> -->
<div>
    <f3d-autocomplete [dataSet]="data" [dataSetViewValueKey]="'viewValue'" [objectKeysConfig]="displayNameMap"></f3d-autocomplete>
</div>
<f3d-autocomplete [dataSet]="data" [dataSetViewValueKey]="'viewValue'" [objectKeysConfig]="displayNameMap"></f3d-autocomplete>
<f3d-autocomplete [dataSet]="data" [dataSetViewValueKey]="'viewValue'" [objectKeysConfig]="displayNameMap"></f3d-autocomplete>
<div>
    <div>
        <div>
            <div>
                    <f3d-autocomplete [dataSet]="data" [dataSetViewValueKey]="'viewValue'" [objectKeysConfig]="displayNameMap"></f3d-autocomplete>
            </div>
        </div>
    </div>
</div>